div.annotator-panel {
    background-color: lightgray;
    opacity: 95%;
    padding: .8em;
    border-radius: 6px;
    box-shadow: 5px 5px 3px grey;
    width:fit-content;
    height:fit-content;
    font-family: sans-serif;
}

.annotator-panel > h4 {
    margin: 0;
}

.annotator-panel > ul > li > button {
    margin-left: .3em;
}

.annotator-panel > ul {
    list-style-type: none;
    padding-left: 1em;
    margin: 0;
}
.annotator-panel > ul > li {
    margin-top: .5em;
}

.annotator-panel label:hover{
    font-style: italic;
}

#tooltip{
    background-color: cornsilk;
    padding: .2em;
    border-color: black;
    border-width: 10px;
    font-size: small;
    margin-left: .3em;
    margin-bottom: 10px;
    display: none;
    opacity: 95%;
}