// Cluster bg colors
$colorCategory1: #d282beff; // middle-purple
$colorCategory2: #a6d9efff; // uranian-blue
$colorCategory3: #ffa770ff; // atomic-tangerine
$colorCategory4: #e5f684ff; // mindaro
$colorCategory5: #fef1f3ff; // lavender-blush

$nodeColorCategory1: #8a2a44;
$nodeColorCategory2: #10712b;
$nodeColorCategory3: #411c58;
$nodeColorCategory4: #00308e;

.fullsize {
  width: 100%;
  height: 100%;
}

// Cluster background
g.hullgroup {
  path.hull_1 {
    fill: $colorCategory1;
  }

  path.hull_2 {
    fill: $colorCategory2;
  }

  path.hull_3 {
    fill: $colorCategory3;
  }

  path.hull_4 {
    fill: $colorCategory4;
  }
}

g.linkgroup {
  g line {
    transition: all 0.5s ease;
    stroke-width: 1px;
  }

  g.betweencategory line {
    stroke: rgb(0, 0, 0);
  }

  g.intracategory line {
    stroke: lightblue;
  }


  g.hovered line {
    transition: opacity 0s, stroke-width 0s !important;
    stroke-width: 3px !important;
    opacity: 0.8 !important;
  }

  g.largehovered line {
    transition: opacity 0s, stroke-width 0s !important;
    stroke-width: 8px !important;
    opacity: 0.8 !important;
  }
  g.largehovered line:hover {
    stroke-width: 12px !important;
    opacity: 1 !important;
  }

  g text {
    transition: all 0.5s ease;
    opacity: 0;
  }

  g text.hovered {
    opacity: 1;
  }
}

g.nodegroup {
  g.node {
    circle {
      transition: all 0.5s ease;
      stroke-width: 8px;
      cursor: pointer;
    }
    circle.hovered {
      stroke: blue;
      stroke-width: 8px;
    }
    text {
      transition: all 0.5s ease;
      cursor: grab;
    }
    circle.selected {
      stroke: black !important;
      stroke-width: 12px !important;
    }
  }

  g.pinned circle {
    stroke: red !important;
    stroke-width: 8px !important;
  }

}

.rsection {
  margin: .8em;
  border-radius: 10px 10px 10px 10px;
  box-shadow: #929292 0px 0px 10px;
}

svg.relationoverlay {
  display: none;
}

.ui .backbtn {
  display: none;
}