.header {
	background-color: #AB0520;
	color: white;
	padding: 1em;
	font-family: Verdana, Geneva, sans-serif;
	font-style: normal;
  	font-weight: normal;
}

.header h1 {
	font-family: 'Times New Roman', Times, serif;
	font-size: 3em;
}

.header a {
	color: #0C234B;
	text-decoration: none;
	/* font-weight: bold; */
}

.header a:hover {
	text-decoration: underline;
	color: #001C48;
}

.content {
	margin: 0 1em 1em 1em;
	
}

